<div class="foot_top">
  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col-md-4 foot_brand">
        <img
          src="./imgs/logo-oficial.png"
          title="Nova Terra"
          alt="Nova Terra"
        />
      </div>
      <div class="col-md-4 text-center">
        <a href="https://goo.gl/maps/smF2tPgV44jQJhHG6"
          >Av. Periférico Carlos Pellicer Cámara, No. 4002 Int. 2, Colonia Espejo II, C.P. 86109 Villahermosa, Tabasco.</a
        > <br>
        <a href="tel:+9936342794"> 993 634 2794</a> <a href="tel:+9936342795"> 993 634 2795</a>
      </div>
      <div class="col-md-4 foot_data">
        <!-- <a href="mailto:atencionaclientes@novaterra.com">atencionaclientes@novaterra.com </a> <br /> -->
       <a>Lunes a Viernes de 8:00am A 5:00pm <br> Sábados de 8:00am A 1:00pm</a> <br>
       <a target="_blank" href="aviso-privacidad">Aviso de Privacidad</a>
      </div>
    </div>
  </div>
</div>
<div class="foot_low">
  Copyright 2022 - NOVATERRA PROCESSES & CONTROL 
</div>
