<div class="container-lg">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="box_info_we_do">
        <h6 class="ttls_minimum"><span>ALCANCE DE ACREDITACIÓN</span></h6>
        <h3 class="ttl_primary">
          Novaterra Processes & Control ofrece sus servicios de auditoría y
          certificación en toda
          <span class="c_primary">la República Mexicana</span>
        </h3>
        <p class="my_paragraph">
          "Cuando no tomas una postura en contra de la corrupción, tácitamente
          la apoyas"
          <br />
          <i><b>Kamal Haasan</b></i>
        </p>
        <div class="text-left">
          <a href="contacto.html" class="btn btn_primary"
            >HABLA CON NUESTROS EXPERTOS</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-center mt-4">
        <img
          src="./imgs/mx.png"
          alt="Novaterra Processes & Control ofrece sus servicios de auditoría y certificación en toda la República Mexicana"
          title="Novaterra Processes & Control ofrece sus servicios de auditoría y certificación en toda la República Mexicana"
        />
      </div>
    </div>
  </div>
  <div class="row box_item_imgs_mx">
    <div class="col-md-3">
      <div class="item_imgs_mx mb-4">
        <h5>Servicios de ingeniería</h5>
        <div class="box_imgs_mx i"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item_imgs_mx mb-4">
        <h5>Comercialización al mayoreo y menudeo</h5>
        <div class="box_imgs_mx iv"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item_imgs_mx mb-4">
        <h5>Maquinaria y equipo</h5>
        <div class="box_imgs_mx ii"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="item_imgs_mx mb-4">
        <h5>Metales básicos y productos de metal fabricados</h5>
        <div class="box_imgs_mx iii"></div>
      </div>
    </div>
  </div>
</div>
