<div class="container-lg">
  <div class="row justify-content-center text-center">
    <div class="col-md-8">
      <div class="sec_ttls_story">
        <h6 class="ttls_minimum mb-4"><span>¿Qué ofrecemos?</span></h6>
        <h3 class="ttl_primary">Novaterra Processes & Control S.A de C.V</h3>
        <p class="my_paragraph mt-4">
          Ofrecemos servicios de auditoría y certificación de sistemas de gestión (ISO 9001:2015, ISO 14001:2015, ISO 45001:2018 e ISO 37001:2016) 
          a organizaciones de la iniciativa pública y privada que pertenecen a los siguientes sectores económicos:
        </p>
      </div>
    </div>
  </div>
  <div class="row box_item_imgs_mx">
    <div class="col-md-4 mb-3">
      <div class="item_imgs_mx mb-4">
        <h5>Servicios de ingeniería</h5>
        <div class="box_imgs_mx i"></div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="item_imgs_mx mb-4">
        <h5>Metales básicos y productos de metal fabricados</h5>
        <div class="box_imgs_mx iii"></div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="item_imgs_mx mb-4">
        <h5>Comercio al mayoreo y menudeo</h5>
        <div class="box_imgs_mx v"></div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="item_imgs_mx mb-4">
        <h5>Construcción</h5>
        <div class="box_imgs_mx iv"></div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="item_imgs_mx mb-4">
        <h5>Maquinaria y equipo</h5>
        <div class="box_imgs_mx ii"></div>
      </div>
    </div>
   
  </div>
</div>
